$grey: #ccc;
$heart: #ff4f8f;
$white: #fff;

.button-wrapper {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border: 1px solid $grey;
  border-radius: 30px;
  padding-right: 20px;
  & > * {
    color: $white;
  }
}

.like-button {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
  border: none;
  margin-right: 10px;
  .like-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $heart;
    transform: scale(0);
    transition: all 0.4s;
    z-index: 0;
  }
  i {
    &.favorite_border {
      background-image: url('../../assets/heart-outline.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
    &.favorite_full {
      background-image: url('../../assets/heart-full.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
    &.not-liked {
      display: block;
      color: $white;
      position: relative;
      z-index: 1;
    }
    &.is-liked {
      display: none;
      color: $white;
      position: relative;
      z-index: 1;
    }
  }
  &.is-active {
    .like-overlay {
      transform: scale(1);
    }
    i {
      &.not-liked {
        display: none;
      }
      &.is-liked {
        display: block;
      }
    }
  }
}

@-webkit-keyframes bouncy {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes bouncy {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.bouncy {
  animation: bouncy 0.6s;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
