.button-wrapper {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-right: 20px;
  & > * {
    color: white;
  }
}

.favorite-button {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
  border: none;
  margin-right: 10px;
  .favorite-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ff4f8f;
    transform: scale(0);
    transition: all 0.4s;
    z-index: 0;
  }
  i {
    &.favorite-border {
      background-image: url('../../assets/heart-outline.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
    &.favorite-full {
      background-image: url('../../assets/heart-full.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
    &.not-favorite {
      display: block;
      color: white;
      position: relative;
      z-index: 1;
    }
    &.is-favorite {
      display: none;
      color: white;
      position: relative;
      z-index: 1;
    }
  }
  &.is-active {
    .favorite-overlay {
      transform: scale(1);
    }
    i {
      &.not-favorite {
        display: none;
      }
      &.is-favorite {
        display: block;
      }
    }
  }
}

@-webkit-keyframes bouncy {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes bouncy {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.bouncy {
  animation: bouncy 0.6s;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
